<form action="/in" method="POST">
    书号</br>
    <input type="text" name="bno">
    </br>
    类型</br>
    <input type="text" name="type">
    <br>
    书名</br>
    <input type="text" name="name">
    </br>
    出版社</br>
    <input type="text" name="press">
    </br>
    出版日期</br>
    <input type="text" name="year">
    </br>
    作者名</br>
    <input type="text" name="author">
    </br>
    价格</br>
    <input type="text" name="price">
    </br>
    数量</br>
    <input type="text" name="total">
    </br>
    <input type="submit" value="submit">
    </form>